{% extends "master.html" %}<html>
    {% block title %}
   Buffers - List of all buffers available
  {% endblock %}
  
  {% block content %}
  <h1 class="my-3">Buffers</h1>
  <h3 class="mb-3"><a href="/form_buffer"> Add New Buffer</a></h3>
  <table class="table table-bordered" border='1'>
    <tr style="background: gray; color: white;">
      <th>ID</th>
      <th>Name</th>
      <th>Make</th>
      <th>Package</th>
      <th>Concentration</th>
      <th>Conc Unit</th>
      <th>PH</th>
      <th>MakeDate</th>
      <th>Combi Name</th>
      <th>Added By</th>
    </tr>
    {% for x in object_list %}
      <tr>
        <td>{{ x.id }}</td>
        <td><a href="{% url 'buffer_update' pk=x.pk %}">{{ x.name }}</a></td>
        <td>{{ x.make }}</td>
        <td>{{ x.package }}</td>
        <td>{{ x.concentration }}</td>
        <td>{{ x.concunit }}</td>
        <td>{{ x.ph }}</td>
        <td>{{ x.makedate }}</td>
        <td>{{ x.b_combiname }}</td>
        <td>{{x.addedby}}</td>
      </tr>
    {% endfor %}
  </table>



<!--
  <ul>
  {% for x in mybuffers %}
    <li><a href="bdetails/{{ x.id }}">{{ x.name }} {{ x.make }}</a></li>
  {% endfor %}
</ul>
-->
{% endblock %}

