{% extends "master.html" %}

{% block title %}
  Edit Cells
{% endblock %}


{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
       
        <table>
            <thead>
                {% for form in formset %}
                    {% if forloop.first %}
                        {% for field in form.visible_fields %}
                        <th>{{ field.label_tag }}</th>                        
                        {% endfor %}
                    {% endif %}
            </thead>
            <tbody>
                    <tr>
                        {% for field in form.visible_fields %}
                        <td> {{ field}}</td>                       
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--
             {% for form in formset %}
             {% for field in form %}
            {{ field }}
            {% endfor %}
>    {% endfor %} 
        -->

<input type="submit" value="Submit" />
 </form>
  
{% endblock %}

<!--
    {{ formset.management_form }}
{{ field.label_tag }} 
    <form method="post">
        {{ formset }}
        <input type="submit" value="Submit" />
     </form>
    
        {{ formset.management_form }}
        {% for form in formset %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
>    {% endfor %}

    
    -->