{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<style>

   {% comment %} * {
    transform: scale(0.98, 0.98)
    } {% endcomment %}
</style>
<html>  
<head>
  <title>{% block title %}  {% endblock %}</title>
 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="mx-5" style=" zoom:85%;">
 
<!-- 
example 3 - Navbar with brand left, links on center and right that collapse into the vert mobile menu
-->
<nav class="navbar navbar-primary navbar-expand-md bg-white justify-content-center p-0">
<!--  <a href="/" class="navbar-brand d-flex mx-3 w-50 mr-auto"><h1>SARA Labs</h1></a> -->  
<a class="navbar-brand d-flex mx-3 w-50 mr-auto p-0" href="/">
    <img src="{% static 'img/site_logo.jpg' %}" alt="" width="170" height="60"> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-50 justify-content-start h5" >
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>  
        <li class="nav-item">
              <a class="nav-link" href="/plate_list">Plates</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/observation_list">Observations</a>
          </li>
      </ul>
      <ul class="nav navbar-nav  ml-auto mx-3 w-100 justify-content-end p-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link p-0" href="#"> Welcome {{ user.get_username|upper }} !!!</a>
            <a class="nav-link p-0" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>
        {% endif %}
      </ul>
  </div>
</nav>
<hr class="m-0">
<div class="container-sm">
{% block content %}
{% endblock %}
</div>
{% block leftbar %}
{% endblock %}

</body>
</html>

<!--{% include 'footer.html' %} -->
